<div class="content-wrapper">
<div class="test-wrapper">
<h1 class="title-text"><%=@artist.name%>'s Page</h1>


<div class="artist-details">
<%= link_to "Back to Artists Index", artists_path %>
<div class="artist-banner">
<p> The artist's stage name is <%= @artist.name %></p>
<% if @user.follows_artist?(@artist.id) %>
    <p>You are following this artist</p>
<% else %>
    <%= button_to "Follow artist", follow_artist_path(@artist.id) %>
<% end %> 

</div>


<%= image_tag @artist.s_image_url, class: "show-img" %>
</div>

<div class="influences">
<h3>Influences</h3>
<div class="influences-gallery">
<%@artist.likeds.each do |likeds| %>
    <%= image_tag likeds.s_image_url, class: "show-influence" %>
    <%end %>
    </div>
</div>
</div>
</div>
