<!DOCTYPE html>
<html>
  <head>
    <title>ArtistIsLike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  <% unless controller_name == "sessions" && action_name == "new" %>
    <% if session[:user_name] %>
      <div class="nav-bar">
      <p> Hi, <%=session[:user_name]%></p>
      <%= button_to "Logout", logout_path, :method => :delete %>
      </div>
      <br>
   <br>
     <div><%=link_to "Artists Page", artists_path %></div>
      <div><%=link_to "Is Likes Page", is_likes_path %></div>
      <div><%=link_to "Make Is Likes", new_is_like_path %></div>
    <% else %>
      <div class="nav-bar">
      <%= link_to "Log in", login_path %>
      </div>
    <% end %> 
     <% end %> 
   
    <%= yield %>
    
  </body>
</html>
